
*~*

# Ignore PNG images
*.png

# Ignore JPG and JPEG
*.jpg
*.jpeg

# Ignore other image formats
*.gif
*.bmp
*.tiff
*.webp
*.svg

ka_project_backup*
*test*

#  folders
.idea
.vscode
docs/Meetings/
data/Excel Files/
data/sankey
!data/sankey/*sankey*
data/exports
!data/exports/schema*
excel/development/
!excel/development/ka_PEQ_Nachweistool_dev.xlsb
Excel Files/PEExcel Archive/
**/ribbon/
**/Intern/
**/__pycache__/
**/.ipynb_checkpoints/

env/
.idea/
.venv/
__pycache__/
*.pyc
~$*.xls*
*.egg-info/
.DS_Store
.ipynb_checkpoints/

# keep