
*~

# Ignore PNG images
*.png

# Ignore JPG and JPEG
*.jpg
*.jpeg

# Ignore other image formats
*.gif
*.bmp
*.tiff
*.webp
*.svg

#  folders
.idea
.vscode
docs/Meetings/
Excel Files/PEExcel Archive/
**/ribbon/
**/Intern/
**/__pycache__/
**/.ipynb_checkpoints/

env/
.idea/
.venv/
__pycache__/
*.pyc
~$*.xls*
.DS_Store
.ipynb_checkpoints/